<%layout('../layouts/boilerplate') %>
    
    <form action="/campgrounds/<%= camp.id %>?_method=PUT" method="post" class="validate-form" novalidate enctype="multipart/form-data" >
        
        <div class="row">
            <h1 class="text-center">Edit Campground</h1>
            <div class="col-md-6 offset-md-3">
               
        <div class="mb-3">
        <label class="form-label" for="t">Enter Title:</label>
        <input class="form-control" type="text" name="campgrounds[title]" value="<%=camp.title%>" id="t" required>
        </div>
        <div class="mb-3">
            <label class="form-label"  for="l">Enter Location:</label>
            <input class="form-control" type="text" name="campgrounds[location]" value="<%=camp.location%>" id="l" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="p">Price:</label>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">$</span>
                <input type="text" class="form-control" name="campgrounds[price]" value="<%=camp.price%>"  id="p" placeholder="Amount" aria-label="Username" aria-describedby="basic-addon1" required>
              </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="im">Add Images:</label>
            <input type="file" name="image" id="im" multiple>
        </div>
        <div class="mb-3">
            <% camp.images.forEach((img,i)=>{ %>
                <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%=i %>" name="deleteImages[]" value="<%=img.filename%>">
                </div>
                <label for="image-<%=i %>">Delete?</label>
           <% }) %>
        </div>
        <button class="btn btn-success">Update</button>
            </div>
        </div>
    </form>

